.cricle {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cent {
    color: blue;
}